body {
      font-family: Arial, Helvetica, sans-serif;
    } 

.minii-hobby {
    text-align: center;
      border-radius: 20px;
    background-color: rgb(6, 54, 2);
    color: rgb(240, 198, 213);
padding: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 236, 212);
}
.container{
    background-color: rgb(250, 207, 221);
    padding: 3px 3px 3px 30px; 
    border-radius: 20px;
}

.button{
    color: black;
    background-color: rgb(255, 255, 255);
}

.minii3hobby{
    margin: 5px;
      background-color: rgb(250, 207, 221);
    padding: 3px 3px 3px 30px; 
    border-radius: 20px;
}
.Aylguu {
    color: rgb(84, 190, 216)
}

.p{
     text-align: center;
     color: rgb(88, 171, 226)
}